
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

body{
    background-image: url("https://free4kwallpapers.com/uploads/originals/2015/08/11/black-and-white-wallpaper-music.jpg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


.full-page{
    height: 100%;
    width: 100%;
    background-position: center ;
    background-size: cover;
    position: absolute;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;
}

img{
    padding: 0%;
    margin: 0%;
}

nav ul li{
    display: inline-block;
    margin-right: 70px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

nav ul li button{
    font-size: 20px;
    color: black;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;

}

nav ul li button:hover{
    color: deeppink;

}

nav ul li a:hover{
    color: deeppink;
}

a{
    text-decoration: none;
    color: palevioletred;
    font-size: 30px;
}

.quote {
    text-align: center;
    font-weight: bold;
    position: relative;
    
    color: white;
}

#login-form{
    display: none;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    background: rgb(225, 209, 212);
    padding: 10px;
    overflow: hidden;
    background: transparent;
}

.button-box{
    width: 220px;
    margin:35px auto;
    position: relative;
    box-shadow: 0 0 31px 9px palevioletred;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: palevioletred;
    border-radius: 50px;
    transition: .5s;
}

.input-group-login{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
    color: black;
}

.input-group-register{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid palevioletred;
    outline: none;
    background: transparent;
    font-size: small;
}


.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: palevioletred;
    border: 0;
    outline: none;
    border-radius: 30px;
    border-radius: 10px 100px / 120px;
}

.check-box{
    margin: 30px 10px 34px 0;
    color: black;
    font-size: 13;
}

span{
    color: palevioletred;
    font-size: 16px;
    bottom: 68px;
    position:absolute;
    

}

#login{
    left: 50px;
}

#login input{
    color: black;
    font-size: 15;
}

#register{
    left: 450px;

}

#register input{
    color: black;
    font-size: 15;
}

.subtitle{
    align-items:"center";
    font-family: 'Bigelow Rules';
    color:deeppink ;
    position: relative;
    top: 100px; left: 450px; bottom: 100px;
}

