@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Satisfy', cursive;
}

.headline{
    text-align: center;
}

.navbar a{
    float: left;
    text-align: right;
    padding: 20px; 
    display: block;
    padding: 14px 16px; 
    font-size: 20px;
}
.navbar a:hover{
    background-color: rgb(174, 137, 15);
}
.container{
    color: rgb(165, 149, 42);
    background-color: rgb(137, 62, 125);
    height: 100%;
    width: 90%;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

