<!DOCTYPE html>
<html>
<body>

<p>Click on the "Choose File" button to upload a file:</p>

<form action="/generate", method='POST' enctype="multipart/form-data">
  <input type="file" name="file">
  <input type='text' name='name'>
    <!-- Add a dropdown for text color selection -->
    <label for="text-color">Text Color:</label>
    <select id="text-color" name="text_color">
        <option value="black">Black</option>
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <!-- Add more color options as needed -->
    </select>
  <input type="submit" value="Generate Album Cover">
</form>

</body>
</html>
