@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "poppins" , sans-serif;
}

:root{
    --main-color: #033a80;
    --big-color: #fff;
    --text-color:#0f0c27;
    --hover:hsl(260,100%,51%);

    --big-font: 3.2rem;
    --medium-font:1.8rem;
    --p-font: 0.941rem;
}

body{
    background-color: var(--big-color);
    color: var(--text-color);
}
section{
    padding: 50px 10%;
}

*::selection{
    color: var(--text-color);
    background-color: var(--big-color);
}

/* home section */

.home{
    position: relative; 
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
}
.home-img{
    order: 3;
}
.home-img img{
    width: 130%;
}
.home-text span{
    font-size: var(--medium-font);
    font-weight: 500;
}
.home-text h1{
    font-size: var(--big-font);
}
.home-text h2{
    font-size: 1.1rem;
    font-weight: 400;
}

.home-text{
    font-size: var(--p-font);
    font-weight: 400;
    margin: 0.7rem;
}
.social{
    display: flex;
    flex-direction: column;
}

.social a{
    margin-bottom: 1rem;
    font-size: 22px;
    color: var(--text-color);
}

.social a :hover{
    color: var(--hover);
}
.btn{
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;
    padding: 0.7rem 1.3rem;
    border-radius: 0.9rem;
}
.btn:hover{
    background-color: var(--hover);
}

/* about section */

.heading{
    text-align: center;
}

.heading h2{
    font-size: 30px;
}
.heading span{
    font-size: var(--p-font);
    color: rgb(2, 166, 70);
}

.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}
.about-img img{
    width: 80%;
    border-radius: 0.5rem;
}
.about-text{
    font-size: var(--p-font);
    font-weight: 400;
    text-align: justify;
}

.information{
    margin: 1rem 0 1.4rem;
}

.information .info-box{
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
}

.information .info-box .bx{
    font-size: 22px;
}

.information .info-box span{
    font-weight: 400;
    margin-left: 1rem;
}    

.skills-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}

.skills-img img{
    width: 80%;
    padding-left: 4rem;
    object-position: center;
}
.bars-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.bars-box .h3,
.bars-box .span{
    font-size: 1.1rem;
    font-weight: 500;
}

.light-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background: hsla(260, 100%, 44%, 0.4);
    border-radius: 0.5rem;
}
.percent-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.5rem;
    background: var(--main-color);
    border-radius: 0.5rem;

}

.html-bar{
    width: 94%;
}
.css-bar{
    width: 53%;
}
.javascript-bar{
    width: 50%;
}
.python-bar{
    width: 87%;
}
.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.services-box{
    padding: 20px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    border-bottom: 2px solid var(--main-color);
    box-shadow: 0 2px 7px rgb(14 55 54 /15%);
}
.services-box .bx{
    padding-top: 2rem;
    font-size: 54px;
    color: var(--main-color);
}
.services-box h3{
    font-size: 1rem;
    font-weight: 600;
    margin: 0.7rem 0 0.4rem;
}

.services-box a{
    color: var(--main-color);
    font-size: var(--p-font);
    font-weight: 500;
}

.services-box:hover{
    background: #02225a;
}

.services-box:hover h3{
    color:#fff ;
}

.services-box:hover .bx{
    color: #22cf91;
}
.services-box:hover a{
    color: #8b8a8f;
}