form {
    border: 3px solid #f1f1f1;
    margin-top: -156;
    margin: 23px auto;
    width: 754px;
  }
    /* Full-width inputs */
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    /* Set a style for all buttons */
    button {
      background-color: darkblue;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
    
    /* Add a hover effect for buttons */
    button:hover {
      opacity: 0.8;
    }
    
    h1{
      text-align: center;
    }
   
    
    .container {
      padding: 16px;
      margin: 80px auto;
      width: 610px;
    }
    
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
      span.psw {
        display: block;
        float: none;
      }
      .cancelbtn {
        width: 100%;
      }
    }
    form {
      
      margin-top: -156;
    }
  
  .signin p{
        padding: 16px;
        margin: -88px auto;
        width: 610px;
     
    }
    
  
    
  p{
    text-align: center;
  }
  .signin{
      text-align: center;
    }
  
  
    
  