{% extends 'layout.html' %}
{%block body%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Container Click</title>
<style>
    .container {
        width: 450px;
        height: 450px;
        background-color: rgba(255, 192, 203, 0.5); /* Pink with 50% transparency */
        margin: 20px;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        line-height: 200px;
        font-size: 24px;
    }
    
</style>
</head>
<body>

<div class="container" onclick="location.href='/summary';">SUMMARY GENERATOR</div>
<div class="container" onclick="location.href='/sentiment';">SENTIMENTAL ANALYSIS</div>
<div class="container" onclick="location.href='/chatbot';">CHATBOT</div>

</body>
</html>
{%endblock%}